/* Heavily Based on MrTipson's Builds page
   See here: https://github.com/MrTipson/otz-builds/blob/master/css/stylesheet.css

   (i should warn you, i have absolutely ZERO idea what i'm doing in CSS)
 */
:root {
    --bg-primary: rgb(49, 49, 49);
    --bg-secondary: rgb(36, 36, 36);
    --bg-darken: rgba(0, 0, 0, 0.4);
    --text-strong: white;
    --text-normal: rgb(220, 220, 220);
    --text-weak: rgb(156, 156, 156);
    --color-killer: #f88300f7;
    --color-survivor: #0487d2;
    --color-anchoring: #ff6100;
    --header-height: 40px;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--text-normal);
    font-family: monospace;
    font-size: 13pt;
    height: 100%;
}

.header {
    align-self: center;
    padding: 0;
    text-align: center;
}

h2 {
    padding-bottom: 0;
}
h4 {
    padding-top: 0;
}

/* TAB */
.tabs {
    width: 15%;
    display: grid;
    grid-template:
		"labels labels"
		"tab tab";
    grid-template-rows: min-content auto;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}

.killerTab, .survivorTab {
    grid-area: tab;
    display: block;
    width: 100%;
}

input[type="radio"] {
    display: none;
}
label[for="selectKillers"] {
    justify-self: end;
}
input#selectKillers:checked + label,
input#selectSurvivors:checked + label {
    --character: var(--color-killer);
    outline: 2px solid var(--character);
    outline-offset: 2px;
    border-radius: 8px;
}
input#selectSurvivors:checked + label { --character: var(--color-survivor); }
input#selectKillers:checked ~ .survivorTab { display: none; }
input#selectKillers:checked ~ .killerTab{ --character: var(--color-killer); }
input#selectSurvivors:checked ~ .killerTab { display: none; }
input#selectSurvivors:checked ~ .survivorTab{ --character: var(--color-survivor); }


.tabs > label {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    width: fit-content;
}

label > img {
    width: 1.5rem;
    height: 1.5rem;
}


.characters {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    justify-content: space-around;
    padding: 10px;
}

.character {
    display: grid;
    background-color: var(--bg-darken);
    grid-template-areas:
        'name-availability meta-info'
        'icon perk-0'
        'icon perk-1'
        'icon perk-2';
    grid-template-rows: 60px 90px 100px 50px;
    grid-template-columns: 200px minmax(440px, 1fr);
    padding: 10px;
    margin: 10px;
    column-gap: 1em;
    box-shadow: 1px 1px 6px var(--character);
}

.character:target {
    outline: 2px solid var(--color-anchoring);
}

.character > .nameAvailability {
    grid-area: name-availability;
    grid-row: row1-start;
    max-height: var(--header-height) + 10px;
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 250px;
    background-color: red;
}

.character > .nameAvailability > .name {
    display: inline;
    text-align: center;
    font-size: 28px;
    white-space: nowrap;
}

.character > .nameAvailability > .availability {
    display: inline;
    text-align: center;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 15px;
    text-transform: uppercase;
    white-space: nowrap;  /* this feels really dodgy, like im beating css into submission lmao */
}

.character > .nameAvailability > .name {
    text-align: center;
    width: 250px;
    font-size: 30px;
    padding: 2px;
    display: inline;
    vertical-align: middle;
    align-items: center;
}

.character > .metaInfo {
    grid-area: meta-info;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    height: var(--header-height);
    padding: 10px;
}

.character .movementSpeedText, .miscImage {
    display: inline;
    vertical-align: middle;
}

.character .terrorRadiusText, .miscImage {
    display: inline;
    vertical-align: middle;
    margin-left: 50px;
}

.character .miscImage {
    max-height: 32px;
    max-width: 32px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.character > .characterIcon {
    display: flex;
}

/* perk border */
.character > .perks div {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.character .perkIcon, .perkName {
    display: inline-block;
    vertical-align: middle;
}

.character .perk-0 {
    grid-area: perk-0;
}

.character .perk-1 {
    grid-area: perk-1;
}

.character .perk-2 {
    grid-area: perk-2;
}

.character .perkIcon {
    grid-area: perk-icon;
    max-height: 64px;
    max-width: 64px;
}

.character .perkName {
    grid-area: perk-name;
    margin-left: 20px;
}

.image > img {
    display: block;
    margin: auto;
    object-fit: contain;
    height: 100%;
}

/* FOOTER */
.footer {
    width: calc(100% - 20px);
    padding: 20px;
    background-color: var(--bg-darken);
    text-align: center;
    margin: 10px;
    border-radius: 8px;
}
.footer img {
    max-width: 24px;
    max-height: 24px;
}
.footer > div {
    margin: 10px;
}